*{
    margin: 0;
    padding: 0;
}
.div
{

    background-image: url(./comming.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;

}