
/* selecttor universal */
/* sirve copmo reseto css*/
*{
    margin: 0;
    padding: 0;
}

/* Atributo con id*/
#logo
{
    box-shadow: 2px 2px 4px grey;
}
/* Selector por clase*/
.destacada{
    color:violet;
}
/* Selector por elemento*/
ul{
    margin:20px;
    padding: 20px;
}
/*selector por atributo*/
[type="text"]{
    border: 1px solid orange;
}
/* Selector por pseudo clase*/
.destacada:hover{
    color: white;
    background-color: violet;
}
/* Selector por pseudo elemento*/
p::first-letter{
    font-size:30px;
}